@charset "utf-8";
/* CSS Document */

body{
	font-family: Arial, sans-serif;
	color: #006699;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	background-color:#eef2f1;
}
.haha
{
}
a
{
	text-decoration:none;
	color:#000000;
}
a:hover
{
	cursor:pointer:
}
P{
margin:0px;
padding:0px;
}
ol,ul{padding:0px;margin:0px;}

HR{
padding:0px;
margin:13px 0px;
height:1px;
border-top:0px;
border-left:0px;
border-right:0px;
height:3px;
color:#CB1C1D;
border-bottom:1px dotted #333;
}

li
{
	list-style:none;
}
span{float:right; color:#FF5300; padding-right:14px; padding-top:15px;
font-size:14px;}

.content_font
{
	overflow:hidden;
}
.content_font li, .content_font li a
{
	font-size:16px;
	padding-bottom:6px;
	padding-top:6px;
	padding-left:7px;
}
.content_font li span
{
	padding-right:14px;
	float:right;
	padding-top:0;
	color:#999999;
}


	



.top_image
{
	width:956px;
	height:112;
	margin:0 auto;
	padding:0px;
	overflow:hidden;
}

.content
{
	width:956px;
	height:500px;
	margin:0 auto;
	background-color:#999999;
}
.content .left_nav
{
	background-color:#90C;
	height:300px;
	width:170px;
	display:inline-block;
	float:left;
}
.content .left_nav li
{
	color:#000000;
	font-size:16px;
	padding-bottom:6px;
	padding-top:6px;
	text-align:center;
	display:block;
}

.left_nav a
{
	display:block;
}
.left_nav a:hover, a:active
{
	color:#F00;
}


.main_content
{
	margin-left:20px;
	width:746px;
	height:500px;
	display:inline-block;
	background-color:#FFF;

}

.position
{
	width:atuo;
	height:40px;
	background-color:#009966;
	margin:0px 14px;
}
.position p
{
	font-size:18px;
	font-weight:bold;
	color:#000000;
	padding-top:10px;
}








.footer
{
	width:956px;
	height:40px;
	margin:0 auto;
	background-color:#93C;
	text-align:center;
	margin-top:40px;
}
.footer p
{
	font-size:20px;
	color:#FFFFFF;
}




/***********************nav*************/
/*topmenu*/
.topmenu{width:956px;height:44px; margin:0 auto;position: relative;left:0px; top:0px;z-index:10;}

.nav_content div
{
	background-color:#FF5300;
}

.topmenu .nav_content{float:left;padding-left:6px;background:url('file:///C|/Users/yan/images/nav_li_left.gif') no-repeat;}
.topmenu .nav_content li{padding-right:5px;width:80px;height:44px;float:left;line-height:44px; background-color:#FF5300;text-align:center;font-weight:bold; list-style:none;}
.topmenu .nav_content li a{color:#000;width:80px;height:44px;display:block;font-size:14px;}
.topmenu .nav_content li a:hover{line-height:42px; background-color:#F00; border-radius:10px;}
.topmenu .nav_content li div{display:none;}
.topmenu .nav_content li.right{margin-left:0px;width:10px;background:url('file:///C|/Users/yan/images/nav_li_right.gif') no-repeat right top;height:44px;}
/*submenu*/
.submenu{visibility: hidden;position:absolute;top:44px;left:0;}
.submenu .subnav{padding-left:7px;background:url('file:///C|/Users/yan/images/sub_li_left.gif') no-repeat;float:left;}
.submenu .subnav li{height32px;background:url('file:///C|/Users/yan/images/sub_li_bg.gif') repeat-x right top;float:left;}
.submenu .subnav li a{color:#447403;display:block;padding:0 10px;line-height:32px; text-decoration:none;}
.submenu .subnav li a:hover{color:#000;text-decoration:none;background-color:#F00; border-radius:10px;}
.submenu .subnav li.subright{width:7px;background:url('file:///C|/Users/yan/images/sub_li_right.gif') no-repeat right top;height:32px;}
/*submenu postion*/
