@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */
h1{ font-size:22px; line-height:24px; color:#fff; font-weight: normal;}

.shell { width:988px; margin:0 auto; }

.ac { text-align: center !important; }

#header { height:89px; background-color:#b31256; white-space:nowrap;  border-bottom:solid #cda572 6px;}
#header h1{ float:left; display:inline; padding-top:12px; color:#FFFFFF;}
#top-navigation { float:right; white-space:nowrap; color:#fff; padding-top:15px; font-size:13px; line-height:14px; font-family:Verdana, sans-serif;}
#top-navigation a{ color:#fff;  }
#top-navigation a:hover{ color:#000;  }
#top-navigation span{ color:#dca598; }
#top { height:53px; }

#navigation
{
	height:36px;
	width:800px;
	margin-left:auto;
	margin-right:auto;
}


#navigation ul{ list-style-type: none;}
#navigation ul li{ float:left; display:inline; margin-right:2px; background-color:#cc9966;}
#navigation ul li a,
#navigation ul li a span { float:left; height:36px; background:#8b0a43; padding:0 0 0 15px;}
#navigation ul li a span { background-position:right 0; padding:0 15px 0 0; font-size:14px;}
#navigation ul li a { line-height:36px; color:#FFF; text-decoration: none; }

#navigation ul li a:hover { background-color:#fff0bb;}

#navigation ul li a.active span,
#navigation ul li a:hover span{ background-position:right bottom; color:#000000; background-color:#fff0bb;}


#content
{
	background:url(/public_admin/images/content_bg.jpg) ;
	min-height:650px;

	width:100%;
}



#position
{
	width:719px;
}
#position p
{
	font-size:16px;
}
#position button
{
	float:right;
}




.table {display:inline-block; padding-top:20px; padding-left:300px; width:720px;height:auto;margin:0 auto;}
.table th{ background:#fffdfa url(/public_admin/images/th.gif) repeat-x 0 0; color:#818181; text-align: center; padding:7px 10px; border-bottom:solid 1px #d2d1cb; font-weight:bold; font-size:14px;}
.table td{ background:#fbfcfc;  border-bottom:solid 1px #e0e0e0; padding:8px 10px; height:20px; width:150px; overflow:hidden; text-align:center;}
.table tr.odd td{ background:#f8f8f8; text-align:center; }
.table tr:hover td{ background:#fff9e1; }
.table a
{
	font-size:15px;
}
.table a.ico{ }



.pagging { height:20px; padding:8px 10px; line-height:19px; color:#949494; margin-left:120px; }
.pagging a{ background:url(/public_admin/images/pagging.gif)repeat-x 0 0; height:20px; float:left; padding:0 8px; border:solid 1px #d5d5d5; text-decoration: none; color:#949494; margin-left:5px;  }
.pagging a:hover { border-color:#8c3521; background:#ba4c32; color:#fff; }
.pagging span{ float:left; margin-left:5px; padding-top:2px; }

a.ico { color:#9d9c9a; font-size:12px; text-decoration: none; padding:0 0 0 14px; background-repeat:no-repeat; background-position:0 0; }
a.ico:hover { color:#333;}
a.del { background-image:url(/public_admin/images/del.gif);}
a.edit { background-image:url(/public_admin/images/edit.gif); margin-left:14px;}




.footer
{
	height:40px;
	width:100%;
	background-color:#cda572;
	text-align:center;
	position:absolute;
	bottom:0;
}
.footer p
{
	padding-top:10px;
	font-size:16px;
	color:#000;
}